# PostgreSQL
POSTGRES_URL="postgres://user:pass@localhost:5432/seizeiro"

# Azure Document Intelligence
AZURE_DOCINTEL_KEY=""
AZURE_DOCINTEL_ENDPOINT=""

# OpenAI
OPENAI_API_KEY=""
OPENAI_EMBEDDING_MODEL="text-embedding-3-small"
OPENAI_EMBEDDING_DIMENSIONS="1536"
OPENAI_EMBEDDING_BATCH_SIZE="256"

# Azure Storage
STORAGE_AZURE_ACCOUNT=""
STORAGE_AZURE_CONTAINER=""
STORAGE_FILESYSTEM_ROOT=".blob"
